%tr.nested-fields
  %td
    = f.input :product_id, url: autocomplete_product_id_products_path, as: :autocomplete, label: false, placeholder: t('order.search.product.id'), input_html: { class: 'nested-fields-product-id', 'min-length': 1  }
  %td
    = f.input :product_name, url: autocomplete_product_name_products_path, as: :autocomplete, label: false, placeholder: t('order.search.product.name'), input_html: { class: 'nested-fields-product-name', 'min-length': 1 }
  %td
    = f.input :quantity, input_html: { value: f.object.quantity || 1, min: 1, class: 'quantity' }, wrapper_html: { class: 'item-quantity-field' }, label: false
  %td.price#products-search-price= f.object.product_price || '0'
  %td
    = link_to_remove_association t('Delete'), f, class: 'btn btn-danger', data:{ confirm: t('Make_sure') }