.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h1
      = t('order.new')

.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    = simple_form_for([:admin, @order]) do |f|
      %table.table.table-hover
        %thead
          %tr
            %td= t('user.id')
            %td= t('user.email')
      
        %tr
          %td
            = f.input :user_id, label: false, placeholder: t('user.search.id'), input_html: { id: 'users-search-id', autofocus: 'autofocus' }
            .results#users-search-id-results
            .results#users-search-id-no-results
          %td
            = f.input :email, as: :fake, label: false, placeholder: t('user.search.email'), input_html: { id: 'users-search-email', autofocus: 'autofocus', formnovalidate: true, autocomplete: 'off' }
            .results#users-search-email-results
            .results#users-search-email-no-results

      
      %table.table.table-hover
        %thead
          %tr
            %td= t("product.number")
            %td= t("product.name")
            %td= t("Quantity")
            %td= t("Price") + " (NT)"
            %td

        %tbody.order-items-fields
          = f.fields_for :order_items do |item|
            = render 'order_item_fields', f: item

        %tfoot
          %tr
            %td{ colspan: "3" }= t("Total")
            %td{ id: 'total' }
            %td

      .add-order-items-field
        = link_to_add_association t('Add'), f, :order_items, class: 'btn btn-primary', id: 'add-nested-form-button', data: { association_insertion_node: '.order-items-fields', association_insertion_method: :append }
        
      %h1
        = t('Receiver')
      %hr

      .row
        .col-md-12
          %table.table.table-hover
            = f.fields_for :receipt do |u|
              %tr
                %th= t('Receiver')
                %td= u.input :name, label: false
              %tr
                %th= t('Phone')
                %td= u.input :tel, label: false
              %tr
                %th= t('Country')
                %td= u.input :country, label: false, format: :with_alpha2
              %tr
                %th= t('City')
                %td= u.input :city, label: false
              %tr
                %th= t('Address')
                %td= u.input :address, label: false

      .row
        .col-md-12
          = link_to t('back'), admin_orders_path, class: 'btn btn-default'
          = f.submit t('confirm'), class: 'btn btn-primary'

:javascript
  $(function() {
    var user = new app.Users;
  });
  