%h1
  = current_user.name
  = t('order.my_orders')
%hr

.row
  .col-md-2.col-sm-12.col-xs-12
    = search_form_for @q, html: { class: 'orders-form' } do |f|
      .form-group
        = f.input :id_eq, placeholder: t("search.number"), label: t("order.number"), required: false, wrapper_html: { class: 'd-flex' }
        = f.input :created_at_gteq, as: :datetime, label: t("search.date.start"), default: Order.default_order_start_datetime(current_user), required: false, wrapper_html: { class: 'd-flex' }
        = f.input :created_at_lteq, as: :datetime, label: t("search.date.end"), default: Time.zone.now, required: false, wrapper_html: { class: 'd-flex' }
      .form-group
        = f.input :sum_gteq, placeholder: 'ex: 100', label: t("search.sum.start"), required: false, wrapper_html: { class: 'd-flex' }
        = f.input :sum_lteq, placeholder: 'ex: 1000', label: t("search.sum.end"), required: false, wrapper_html: { class: 'd-flex' }
      .form-group
        = f.input :state_eq, as: :select, collection: [[t("order.state.new"), 'new'], [t("order.state.paid"), 'paid']], include_blank: true, label: t("order.status"), required: false, wrapper_html: { class: 'd-flex' }
      .btn-group
        = link_to t("search.clear"), request.path, class: "btn btn-default"
        = f.submit t("search.search"), class: 'btn btn-primary'
        

  .col-md-10.col-sm-12.col-xs-12
    = render partial: 'pagination', locals: { page: @orders }
    %table.table.table-hover
      %thead
        %tr
          %td= sort_link( @q, :id, t("order.number"), default_order: :desc)
          %td= sort_link( @q, :created_at, t("order.date"), default_order: :desc)
          %td= sort_link( @q, :sum, t("order.total_price"))
          %td= sort_link( @q, :state, t("order.status"))
          %td= t("order.detail")

      - @orders.each do |order|
        - if order.not_paid? && !order.failed?
          %tr.warning
            %td= order.id
            %td= order.created_at
            %td= order.sum
            %td= order.status
            %td= link_to t('Detail'), order_path(order), class:'btn btn-warning btn-xs'
        - else
          %tr
            %td= order.id
            %td= order.created_at
            %td= order.sum
            %td= order.status
            %td= link_to t('Detail'), order_path(order), class:'btn btn-default btn-xs'

    = render partial: 'pagination', locals: { page: @orders }

.row
  .col-md-12
    = link_to t('back_to_products'), products_path, class: 'btn btn-default'


