<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td><%=t("Product_name")%></td>
      <td><%=t("Quantity")%></td>
      <td><%=t("Price")%></td>
    </tr>
  </thead>
  <% @cart.items.each do |item|%>
   <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.price %></td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <td colspan="2" class="test-right"><%=t("Total")%></td>
      <td><%= @cart.total_price %></td>
    </tr>
  </tfoot>
</table>