<h1>請填您的結帳資料</h1>
<%= render 'cart_items' %>
<hr />

<%= simple_form_for @order_form, url: carts_path do |f| %>
  <%= f.fields_for :receipt do |r| %>
    <%= r.input :name, label:"收件人" %>
    <%= r.input :tel, label:"電話" %>
    <%= r.input :country, label:"國家" %>
    <%= r.input :city, label:"城市" %>
    <%= r.input :address, label:"地址" %>
  <% end %>
  <%= f.submit '下一步', class:'btn btn-primary' %>
<% end %>
<hr />