%h1= t("Fill_in")
= render 'cart_items'
%hr

= simple_form_for @receipt, url: carts_path do |f|
  = f.input :name, label: t("Receiver"), required: true
  = f.input :tel, label: t("Phone"), required: true
  = f.input :country, label: t("Country"), required: true, format: :with_alpha2
  = f.input :city, label: t("City"), required: true
  = f.input :address, label: t("Address"), required: true
  = f.submit t("Next"), class: 'btn btn-primary', required: true
%hr