<h1><%= t("Fill_in")%></h1>
<%= render 'cart_items' %>
<hr />

<%= simple_form_for @order_form, url: carts_path do |f| %>
  <%= f.fields_for :receipt do |r| %>
    <%= r.input :name, label: t("Receiver") %>
    <%= r.input :tel, label: t("Phone") %>
    <%= r.input :country, label: t("Country") %>
    <%= r.input :city, label: t("City") %>
    <%= r.input :address, label: t("Address") %>
  <% end %>
  <%= f.submit "Next", class:'btn btn-primary' %>
<% end %>
<hr />