<h1><%=t("Your_shopping_cart")%></h1>
<%= render 'cart_items' %>
<%= link_to t("Continue_shopping"), products_path, class:'btn btn-primary' %>
<%= link_to t("Check_out"), checkout_cart_path, class:'btn btn-success' %>
<%= link_to t("Clear_cart"), clean_cart_path, class:'btn btn-warning' %>