%h1= 'Pay by Credit Card'
%p= 'This cash flow is using Braintree "Sandbox". It will NOT really pay. Just for trial.'
%p= 'Card Number can be typed with 4111 1111 1111 1111.'
%p= 'Expiration Date can be typed with any date later then current date.'

= form_tag payment_path, method: :post do |f|
  .div{ id: "dropin"}
  %input{ type: "submit", value: "#{t("pay")}", class: "btn btn-primary" } 

:javascript
  braintree.setup(
    "#{@client_token}",
    'dropin', {
      container: 'dropin'
    });