= search_form_for @q, url: url, html: { class: 'orders-form' } do |f|
  .form-group
    = f.input :id_eq, placeholder: t("search.number"), label: t("product.number"), required: false, wrapper_html: { class: 'd-flex' }
    = f.input :name_cont, placeholder: t("product.name"), label: t("product.name"), required: false, wrapper_html: { class: 'd-flex' }
  .form-group
    = f.input :is_online_eq, as: :select, collection: [[t("On_shelf"), true], [t("Off_shelf"), false]], include_blank: true, label: t("search.on_shelf"), required: false, wrapper_html: { class: 'd-flex' }
  .form-group
    = f.input :created_at_gteq, as: :datetime, label: t("search.date.start"), default: default_created_at, required: false, wrapper_html: { class: 'd-flex' }
    = f.input :created_at_lteq, as: :datetime, label: t("search.date.end"), default: Time.zone.now, required: false, wrapper_html: { class: 'd-flex' }
  .form-group
    = f.input :price_gteq, placeholder: 'ex: 100', label: t("search.price.start"), required: false, wrapper_html: { class: 'd-flex' }
    = f.input :price_lteq, placeholder: 'ex: 1000', label: t("search.price.end"), required: false, wrapper_html: { class: 'd-flex' }
  .btn-group
    = link_to t("search.clear"), request.path, class: "btn btn-default"
    = f.submit t("search.search"), class: 'btn btn-primary'