= render 'pagination'

%table.table.table-hover.admin-products
  %thead
    %tr
      %td= t("Product_name")
      %td= t("Picture")
      %td= t("Price")
      %td= t("Status")

  - @products.each do |product|
    %tr
      %td= product.name
      %td.product= link_to( image_tag(product.image.normal), '#', html_options = { "data-toggle": "modal", "data-target": "#myModal#{product.name}" })
      %td= product.price
      %td
        = product.status
        = link_to t('Detail'), admin_product_path(product), class:'btn btn-default btn-xs'
        = edit_button edit_admin_product_path(product)
        = link_to t('recycle_product'), recycle_admin_product_path(product), method: :post, class:'btn btn-default btn-xs'
        = destroy_button admin_product_path(product)
    
    = render partial: 'products/model', locals: { product: product }

= render 'pagination'