%table.table.table-hover.admin-products
  %thead>
    %tr
      %td= t("Product_name")
      %td= t("Picture")
      %td= t("Price")
      %td= t("Status")

  - @products.each do |product|
    %tr
      %td= product.name
      %td.product= image_tag product.image.normal
      %td= product.price
      %td
        = product.status
        = link_to t('recover_product'), unrecycle_admin_product_path(product), method: :post, class:'btn btn-default btn-xs'
        = destroy_button admin_product_path(product)