.row
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %table.table.table-hover
      %thead
        %tr
          %td=t("Product_name")
          %td=t("Picture")
          %td=t("Price")
          %td=t("Status")      

      %tr
        %td=@product.name
        %td.product= link_to( image_tag(@product.image.normal), '#', html_options = { "data-toggle": "modal", "data-target": "#myModal#{@product.id}" })
        %td=@product.price
        %td   
          = @product.status
          = edit_button edit_admin_product_path(@product)
          = link_to t('recycle_product'), recycle_admin_product_path(@product), method: :post, class:'btn btn-default btn-xs'
          = destroy_button admin_product_path(@product)
      %tr
        %td=t("product.created_at")
        %td{ colspan: "3" }=@product.created_at
      %tr
        %td=t("product.updated_at")
        %td{ colspan: "3" }=@product.updated_at
      %tr
        %td=t("Detail")
        %td{ colspan: "3" }=@product.description

    = link_to t('back_to_products'), admin_products_path, class:'btn btn-default'

    = render partial: 'products/model', locals: { product: @product }