<div class="list-group">
  <a href="#" class="list-group-item active"><%=t("Product")%></a>
  <%= link_to t("All_products"), admin_products_path, class:'list-group-item' %>
  <%= link_to t("Add_product"), new_admin_product_path, class:'list-group-item' %>
  <a href="#" class="list-group-item active"><%=t("Category")%></a>
  <%= link_to t("All_categories"), admin_categories_path, class:'list-group-item' %>
  <%= link_to t("Add_category"), new_admin_category_path, class:'list-group-item' %>
</div>