.row
  .col-md-2
    .list-group
      %a.list-group-item.active
        = t("Category")
      = link_to t('All_products'), products_path, class: 'list-group-item'
      - @categories.each do |category|
        = link_to category.name, products_path(category: category), class: 'list-group-item'

  .col-md-10
    = render 'pagination'
    .row
      = render @products
    = render 'pagination'