!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no" }
    %title PCstore Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{ src:"https://js.braintreegateway.com/v2/braintree.js" }

  %body
    = render 'admin_navbar'
    .container
      = render 'flash'
      .row
        .col-md-3
          = render 'admin_menu'
        .col-md-9
          = yield
