!!!
%html
  %head
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no" }
    %title PCstore
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{ src:"https://js.braintreegateway.com/v2/braintree.js" }

  %body
    = render 'navbar'
    .intro-header
      .container
        .space
        = render 'flash'
        .row
          .col-lg-12
            .intro-message
              %h1='Hello! PCstore!'
              %h3='這是我的小商店'
              %h3='這是Ruby on Rails作品展示'
              %h3='購物車會過付款流程但並不會真付款，請放心玩'
              %hr.intro-divider
              %ul.list-inline.intro-social-buttons
                %li
                  = link_to products_path, class: "btn btn-default btn-lg" do
                    = fa_icon "shopping-cart"
                    = '開始購物'
                  
                %li
                  %a{ href:"https://github.com/calvinchu8172/pcstore", class: "btn btn-default btn-lg"} 
                    = fa_icon "github"
                    %span.network-name
                      = 'Github'

    %footer
      .container
        .row
          .col-lg-12      
            %p.copyright.text-muted.small
              = 'Copyright &copy; Calvin Chu 2015. All Rights Reserved'.html_safe